.tg-header {
  background-color: transparent;
}

.scrolling-navbar {
  -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.top-nav-collapse {
  background-color: #906671;
}

footer.page-footer {
  background-color: #907266;
  margin-top: 0;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #667490;
  }
}

/* Necessary for full page carousel*/

html,
body,
.view {
  height: 100%;
}

/* Carousel*/
.carousel,
.carousel-item,
.active {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

/*Caption*/

.flex-center {
  color: #fff;
}

@media (min-width: 776px) {
  .carousel .view ul li {
    display: inline;
  }
  .carousel .view .full-bg-img ul li .flex-item {
    margin-bottom: 1.5rem;
  }
}

/******************** login **********************/
.tg-login__wrapper {
  position: relative;
  top: 200px;
}

.tg-login__btn {
  color: #166585;
  border-radius: 0;
  /*border: 1px solid white;*/
  /*background-color: white;*/
}

.tg-login__btn:hover {
  color: #506692;
  border-radius: 0;
  border: 1px solid white;
  /*background-color: white;*/
}

.tg-login__btn:active {
  color: #667490;
  border-radius: 0;
  border: 1px solid white;
  /*background-color: white;*/
}

.tg-login__btn:focus {
  color: #4797b7;
  border-radius: 0;
  border: 1px solid #4797b7;
  /*background-color: white;*/
}
.username {
  font-weight: bold;
  font-size: 14px;
  color: #080808;
  margin-bottom: 5px;
}
.error {
  color: red;
}



.messages {
  overflow-y: scroll;
  overflow-x: hidden;
  flex-grow: 1;
  padding: 20px;
}


.chat-input {
  position: relative;
  overflow: hidden;
  padding: 0 40px;
  flex-shrink: 0;
}

.chat-input input[type="text"] {
  width: 100%;
  margin-left: -20px;
  margin-right: -20px;
}

.message.from-me .username {
  display: none;
}

.message.from-me {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.message.from-me .message-body {
  background-color: #af9570;
  color: white;
}

.message {
  margin-bottom: 20px;
}
.message-body {
  max-width: 80%;
  display: inline-block;
  padding: 20px;
  background-color: #eee;
  border: 1px;
  border-radius: 5px;
  padding-right: 50px;
}


/* NEXT */

input[type="text"] {
  margin: 10px 0px;
  height: 60px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  color: #1e1e1e;
  font: 400 1rem "proxima-nova", sans-serif;
  width: 80%;
  border: 1px solid #dee0e0;
  padding: 0 20px;
  -webkit-transition: border-color 0.2s ease-in-out;
  -moz-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
}

input[type="text"]:focus {
  border: 1px solid #AF9570;
  outline: none !important;
}
/*
input[type="submit"] {
  background-color: #323232;
  color: white;
  font: 700 1rem "proxima-nova",sans-serif;
  border: none;
  position: relative;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  padding: 20px 80px;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: -7px 7px 0px rgba(50,50,50,0.15);
  -moz-box-shadow: -7px 7px 0px rgba(50,50,50,0.15);
  box-shadow: -7px 7px 0px rgba(50,50,50,0.15);
  margin-top: 20px;
}
*/
input[type="submit"]:hover {
  -webkit-box-shadow: -10px 10px 0px rgba(50,50,50,0.15);
  -moz-box-shadow: -10px 10px 0px rgba(50,50,50,0.15);
  box-shadow: -10px 10px 0px rgba(50,50,50,0.15);
  background-color: #1e1e1e;
}
